# IDE and OS files
.idea/
.vscode/
*.iml
.DS_Store

# Python
__pycache__/
*.pyc
myenv/
venv/

# Java/Maven
/spring-backend/target/
/spring-backend/.mvn/
*.jar
*.war

# Node.js
/vue-frontend/node_modules/
/vue-frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# History files
.history/
